@model HPLCEquipmentInsertVM

<h3>To insert a new analysis, fill out the information below.</h3>

<div class="card">
<div class="card-body">

    <form action="Insert" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
      

    @*     <div class="mb-2">
                <label asp-for="EquipmentId" class="form-label">Equipment Id</label>
                <input asp-for="EquipmentId" class="form-control">
                <div class="text-danger"> <span asp-validation-for="EquipmentId"></span></div>
         </div> *@
            <div class="mb-2">
                <label asp-for="Brand" class="form-label">Brand</label>
                <input asp-for="Brand" class="form-control">
                <div class="text-danger"> <span asp-validation-for="Brand"></span></div>
            </div>
            <div class="mb-2">
                <label asp-for="SerialNumber" class="form-label">Serial Number</label>
                <input asp-for="SerialNumber" class="form-control">
                <div class="text-danger"> <span asp-validation-for="SerialNumber"></span></div>
            </div>
            <div class="mb-2">
                <label asp-for="CalibrationDueDate" class="form-label">Calibration Due Date</label>
                <input asp-for="CalibrationDueDate" class="form-control" asp-format="{0:dd.MM.yyyy}">
                <div class="text-danger"> <span asp-validation-for="CalibrationDueDate"></span></div>
            </div>
            
        <div class="mb-3">
                <button class="btn btn-success" type="submit">Save</button>
        </div>
    </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
}



