@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
       @*  <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Analysis Management</a> *@
       @*  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> *@
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
     @*        <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                @if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Supervisor"))
                {
                    <li class="nav-item dropdown show">
                        <a class="dropdown-toggle nav-link text-dark" href="#" data-toggle="dropdown">Analyzes</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-area="Analyzes" asp-controller="Analysis" asp-action="Index"><i class="fas fa-box mr-2"></i>Categories</a>
                            <a class="dropdown-item" asp-area="Drugs" asp-controller="Drug" asp-action="Index"><i class="fas fa-users mr-2"></i>Users to Category</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-area="HPLC Equipments" asp-controller="HPLCEquipments" asp-action="Index"><i class="fas fa-file-video mr-2"></i>Media Types</a>
                        </div>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Drug" asp-action="Index">Drugs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Analysis" asp-action="Index">Analyzes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="HPLCEquipment" asp-action="Index">Equipments</a>
                </li>
            </ul> *@

            <div class="nav-item">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="d-flex flex-column align-items-center">
                        <div class="rounded-circle text-center mb-2" style="width: 40px; height: 40px; background-color: darkmagenta; color: white; line-height: 40px;">
                            <span id="userInitial">@Html.Raw((User.Identity.Name?[0].ToString().ToUpper()))</span>
                        </div>
                    </div>
                }
                else
                {
                    <a class="nav-link" href="@Url.Action("Index", "Login")">
                        <i class="fa-solid fa-user" style="color:darkmagenta"></i>
                        <span style="color: black;">Login</span>
                    </a>
                }<form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post" class="d-none">
                    <button type="submit" id="logoutButton" class="btn btn-link">Logout</button>
                </form>
                <script>
                    document.getElementById("userInitial").addEventListener("click", function (event) {
                        event.preventDefault();
                        if (confirm("Are you sure you want to logout?")) {
                            document.getElementById("logoutForm").submit();
                        }
                    });
                </script>
            </div>
        </div>
       
</nav>

